header {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 96px;
  padding: 0 32px;
  width: 100%;
  a {
    transition: 0.3s all ease;
    border-bottom: 1px solid transparent;
    padding: 8px 0px;
    &:hover {
      border-bottom: 1px solid var(--black);
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    text-align: right;
    transition: all 0.3s ease;
    width: 100%;

    a {
      display: block;
      margin-left: 0;
      margin-right: 48px;
      min-width: 36px;
      z-index: 2;
    }
  }
  @media screen and (min-width: 992px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 128px;
    padding: 0 !important;
    nav {
      width: auto;
      a {
        margin-left: 48px;
        margin-right: 0;
      }
    }
  }
}
