@import "variables";
@import "base";
@import "fonts";
@import "header";

section#home {
  padding: 128px 0;
}

section#projeto {
  padding: 128px 0;
  .image {
    position: relative;
    width: 100%;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
    .img-wrapper {
      padding: 7% 13%;
      position: relative;
      width: 100%;
      z-index: 1;
      .inner-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 56.25%;
        width: 100%;
        z-index: 2;
        &.viptecno {
          background-image: url("../img/viptecno.png");
        }
        &.picplace {
          background-image: url("../img/picplace.png");
        }
        &.spotify {
          background-image: url("../img/spotify.png");
        }
      }
    }
    img {
      height: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 110%;
    }
  }

  p {
    margin-bottom: 32px;
  }

  h3 {
    margin-bottom: 48px;
  }

  &:nth-of-type(odd) {
    img {
      left: 0;
    }
  }

  .techs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    div {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-right: 64px;
      * {
        display: block;
      }
      i {
        margin-right: 16px;
      }
    }
  }

  .link {
    border: 1px solid #22232b;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 48px;
    width: 256px;
    p {
      display: block;
      margin-bottom: 0;
      padding: 16px 32px;
    }
  }
}
