:root {
  --black: #000;
  --darker-main: #0f1018;
  --dark-main: hsl(229, 12%, 15%);
  --base-main: hsl(229, 12%, 30%);
  --medium-main: hsl(229, 12%, 45%);
  --light-main: hsl(229, 12%, 60%);
  --lighter-main: hsl(229, 12%, 75%);
  --font-main: hsl(229, 12%, 90%);
  --white: #fff;

  --h1: 68px;
  --h2: 50px;
  --h3: 38px;
  --h4: 28px;
  --h5: 21px;
  --p1: 16px;
  --p2: 12px;
}
